<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="Bootstrap.php">

    <testsuites>
        <testsuite name="CherryTest">
            <directory>./ApplicationTest</directory>
        </testsuite>
    </testsuites>
</phpunit>